<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <internalLogLevel>Trace</internalLogLevel>
    <internalLogFile>C:\temp\NLog_Internal.log</internalLogFile>
    <targets>
        <!-- Console Logging -->
        <target xsi:type="Console" name="console" layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString}" />
        
        <!-- Database Logging -->
        <target xsi:type="Database" name="database"
            connectionString="Server=DESKTOP-MHFG0AK\SQLEXPRESS;Database=HelloAppAPI;Integrated Security=True;"
            commandText="INSERT INTO dbo.LogTable (Date, Level, Message) VALUES (CONVERT(DATETIME, @time_stamp, 121), @level, @message)">
            
            <parameter name="@time_stamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
        </target>
    </targets>

    <rules>
        <!-- Log everything to console -->
        <logger name="*" minlevel="Info" writeTo="console" />

        <!-- Log everything to database -->
        <logger name="*" minlevel="Info" writeTo="database" />
    </rules>
</nlog>